<a href="https://colab.research.google.com/github/ChiaYunn/TensorFlow/blob/main/Ch2_5a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
import os
os.listdir("/content/drive/My Drive")

['水波紋實驗.mp4', 'Screenshot_20200225-130010960.jpg', 'heiheihei', 'Ch2_5a.ipynb']

In [5]:
import pandas as pd

df = pd.read_csv("/content/drive/My Drive/heiheihei/iris.csv")
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width  target
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa